.settings
.classpath
.project
.angular/
target
/stack1/
/stack2/
/bin/
.project
tool.log
test-output
oss.xlsx
derby.log
node/
webapp/
node_modules/
coverage/
.env 
**/versionedResources/installers/cftinstaller.jar
**/versionedResources/installers/FileTransferClient.gar
**/versionedResources/installers/gridinstaller.jar
/tool.log
${env.MAVEN_PROJECTBASEDIR}
.dependency-check
__pycache__/
.metadata
.sonarlint
M3EcliseSettings.epf